.btn {
    display: inline-block;
    padding: .75rem 1rem;
    width: 100%;
    margin-top: 1.618rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #950aff;
    border: 1px solid transparent;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1);
  }
  
  .btn:focus, .btn:hover {
    background-color: #c78eff;
    box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
  }
  .btn:focus {
    outline: 0;
  }